<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor, Version=3.3.0.0, Culture=neutral, PublicKeyToken=407dd0808d44fbdc"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <castle>
      <installers>
        <install assembly="Archiv10.Domain.Impl, Version=1.1.0.0, Culture=neutral, PublicKeyToken=b21c5b734760ff0d"/>
      </installers>
    </castle>

  <appSettings>
    <add key="TransferBlocks" value="1536"/>
  </appSettings>

</configuration>
